@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Expanded:wght@200;400;600&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20%;
}

nav {
    background-color: rgb(13, 1, 128);
}

nav li {
    list-style: none;
    display: inline-block;
    padding: 10px;
    margin: 10px;
}

nav a {
    text-decoration: none;
    color: white;
}

nav a:hover {
    color: rgb(96, 93, 126);
    /* text-shadow: -2px -2px 2px white, -2px 2px 2px white, 2px 2px 2px white, 2px 2px 2px white; */
}

.mainContent {
    /* text-align: center; */
    padding: 10px 30%;
    text-align: justify;
}

.mainContent a {
    color: rgb(27, 0, 88);
    font-weight: bolder;
    text-decoration: none;
}

.mainContent a:hover {
    color: red;
}

.description {
    font-family: 'Encode Sans Semi Expanded', sans-serif;
    /* font-weight: bold; */
    /* font-size: 0.9em; */
}

h1 {
    font-size: 4em;
    text-align: center;
    color: rgb(13, 1, 128);
    margin: 20px 10px;
}

h2 {
    color: rgb(13, 1, 128);
}

.projectList {
    font-family: 'Encode Sans Semi Expanded', sans-serif;
    /* font-weight: bold; */
    padding: 10px 20px;
    list-style: square;
}

.projectList li {
    margin: 10px 0;
}

form {
    margin: 20px 20px;
    font-family: 'Encode Sans Semi Expanded', sans-serif;
}

form input {
    outline: none;
}

form button {
    margin: 5px 5px;
    padding: 5px 5px;
}

code {
    font-weight: bold;
    display: block;
    margin: 10px 10px;
}

.button {
    margin: 10px 10px;
    text-align: center;
}

.button a {
    background-color: rgb(13, 1, 128);
    color: white;
    padding: 10px 10px;
    margin: 5px 5px;
    border: 2px solid rgb(13, 1, 128);
    display: inline-block;
}

.button a:hover {
    background-color: white;
    color: rgb(13, 1, 128);
}

.screenshotContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.screenshotContainer img {
    width: 100%;
    border: 2px solid rgb(13, 1, 128);
    border-radius: 5px;
    margin: 5px 5px;
    transition: width 0.5s;
}

.screenshotContainer img:hover {
    width: 200%;
}

.preContainer {
    overflow: scroll;
}